.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 24px 16px;
  background: #FFFFFF;
  z-index: 10;

  @media (min-width: 767px) {
    width: 440px;
  }

  &::before {
    @media (min-width: 767px) {
      content: '';
      position: absolute;
      top: 0;
      right: 440px;
      width: 500%;
      height: 100%;
      overflow: hidden;
      background: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.96;
      z-index: 2;
      box-shadow: inset 16px 0px 52px rgba(14, 24, 80, 0.2);
    }
  }

  &--active {
    display: flex;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-top: 40px;

    @media (min-width: 767px) {
      margin-top: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 112px;
      left: -20px;
      width: 40px;
      height: 8px;
      background: #41F6D7;
      border-radius: 4px;
      transform: rotate(90deg);
      z-index: -2;

      @media (min-width: 767px) {
        top: 32px;
      }
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    padding: 12px 16px;

    &--large {
      height: 120px;
      resize: none;
    }
  }

  &__content {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-top: 16px;
  }

  &__link {
    color: #FF3E79 !important;
  }

  &__close-btn {
    @media (min-width: 767px) {
      position: absolute;
      top: 15px;
      left: -70px;
      z-index: 5;
    }
  }

  &__btn {
    position: relative;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 4px 18px;
    padding-right: 40px;
    border-radius: 16px;
    background: #FF3E79;
    margin-left: auto;
    margin-top: 16px;
    text-align: right;
    justify-self: end;
    display: flex;

    &::after {
      content: '';
      position: absolute;
      top: 11px;
      right: 6px;
      width: 9px;
      height: 9px;
      margin: 0 10px;
      background: url(../img/icons/dropdown2.svg) 50% 50% no-repeat;
    }
  }
}
