$colorWhite: #fff;
$mainBgColor: #EAEAEA;
$textColor: #1B1C21;
$hoverTextColor: #7E7E82;
$colorBlue: #41F6D7;
$colorBlueLight: #B8FFEC;
$colorGrey :#B5B6BC;
$colorPink: #FF3E79;
$colorF8: #F8F8F8;

.services {
  position: relative;
  padding: 0 16px;
  padding-right: 0;
  padding-bottom: 50px;

  @media (min-width: 767px) {
    padding: 0 24px;
    padding-right: 0;
  }

  @media (min-width: 1119px) {
    padding: 0 32px;
  }

  &__title {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 24px 0;

    @media (min-width: 767px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1119px) {
      margin-top: 42px;
      margin-bottom: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 18px;
      left: -20px;
      width: 40px;
      height: 8px;
      background: $colorBlue;
      border-radius: 4px;
      transform: rotate(90deg);
      z-index: -2;

      @media (min-width: 1119px) {
        top: 18px;
      }
    }
  }

  &-list {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: scroll;
    margin-bottom: 24px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 1119px) {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &__item {
      padding: 8px 16px;
      margin: 2px;

      &:hover,
      &:active {
        background-color: $colorWhite;
        border: 2px solid $colorBlueLight;
        border-radius: 6px;
        margin: 0;
      }

      // &--active {
      //   background-color: #fff;
      //   border: 2px solid #B8FFEC;
      //   border-radius: 6px;
      // }
    }

    &__btn {
      display: block;
      white-space: nowrap;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $hoverTextColor;
      background-color: transparent;
    }
  }

  &-slide {
    display: flex;
    flex-direction: column;

    @media (min-width: 767px) {
      flex-wrap: wrap;
      align-items: flex-start;
      height: 260px;
    }

    &__container {
      height: 90px;
      overflow: hidden;

      @media (min-width: 767px) {
        width: 41%;
        height: 160px;
      }

      @media (min-width: 1119px) {
        width: 44%;
      }
    }

    &__content {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      overflow: hidden;
      margin-right: 16px;

      @media (min-width: 767px) {
        line-height: 20px;
        margin-bottom: 20px;
      }
    }

    &__image {
      width: 100%;
      max-height: 100%;
      margin-left: -16px;
      order: 1;

      @media (min-width: 767px) {
        margin-left: 0;
        width: 47%;
        border-radius: 6px;
        margin-left: auto;
        margin-right: 24px;
      }
    }

    &__btn {
      position: relative;
      text-align: left;
      background-color: $colorF8;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      padding: 16px 32px;

      @media (min-width: 767px) {
        padding: 10px 32px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 16px;
        left: 8px;
        width: 8px;
        height: 11px;
        background: url(../img/icons/arrows.svg) no-repeat center;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, $colorF8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    right: 0;
    top: 64px;
  }

}
